.contact-grid {
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-block: 80px;
}

.contact-box {
    width: 95%;
    text-align: center;
}


.bg-contact {
    margin-bottom: 80px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 958px) {
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-box {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-box {
        margin-bottom: 50px;
    }
}